.tictactoe_label {
  text-align: center;
  margin-top: 1rem;
}

.board {
  margin: auto;
  width: 50%;
  }

.cell {
  width: 33%;
  height: 4rem;
  border: 1px solid #008F6B;
  display: inline-block;
  padding-top: 1.5rem;
  text-align: center;
  background-color: white;
  vertical-align: top;
}

.cell:active {
  background: #E6E6E6;
}